# top-most EditorConfig file
root = true

[*]
# always default to utf-8
charset = utf-8

# unix EOL + add newline to every file
end_of_line = lf
insert_final_newline = true

# indent style 2 spaces
indent_style = space # tab
indent_size = 2

## possible file matching
#[*.{js,py}]
#[*.py]
#[*.js]
#[lib/**.js]
#[{package.json,.travis.yml}]
