[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim/pack/junegunn/start/fzf"]
	path = vim/pack/junegunn/start/fzf
	url = https://github.com/junegunn/fzf.vim
